<div data-ng-controller="AddBillController">
	<div>
		<ul class="breadcrumb">
      <li>
 	   <table>
        <tr>
        <td>
         <img data-ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
          <img data-ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
        </td>
        <td>
            <small style="color:black;">{{displayName}}</small>
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Uniquely identified&nbsp;<strong>{{accountNo}}</strong></small></td>
        	</tr>
        	<tr>
        	    <td><small>Cell Phone&nbsp;<strong>{{phone}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        	   <td><i class="icon-building"></i><small>Office&nbsp;"<strong>{{officeName}}</strong>"</small></td>
        	</tr>
        	<tr>
        	<td><small>Device # <strong>{{hwSerialNumber}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Client Type&nbsp;"<strong>{{categoryType}}</strong>"</small></td>
        	</tr>
        	<tr>
        		<td><small>Balance&nbsp;<strong>{{balanceAmount}}</strong>&nbsp;{{currency}} </small></td>
        		<td class="paddedleft0" data-ng-show="walletConfig"><small>[Wallet&nbsp;<strong>{{walletAmount}}</strong>&nbsp;{{currency}}]</small></td>
        	</tr>
        </table>
        </td>
        </tr>
        </table>
        </li>
		</ul>
		<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/viewclient/{{clientId}}" data-ng-click="reset123()">{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.add.bill' | translate}}</li>
		</ul>
	</div>
		<form class="form-horizontal well">
		<div class="error" data-ng-show="errorStatus || errorDetails">
			<label>{{'label.contract.error' | translate}}</label> 
			<label data-ng-show="errorStatus">{{errorStatus}}</label> 
			<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate:error.args}}</label>
		</div>
		<fieldset>
			<legend>{{'label.add.bill' | translate}}</legend>
			<table>
			   <tr>
			   	  <td>
					 <div class="control-group">
						<label class="control-label">{{ 'label.billdayofmonth' | translate }}&nbsp;<span class="required">*</span></label>
						<div class="controls">
						  <input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.saleDate" data-is-open="opened2" min="minDate"
								max="maxDate" data-date-disabled="disabled(date, mode)" style="background-color: #FFFFFF;" readonly />
						</div>
					 </div>
				  </td>
				  
			      <td>
			      	<div class="control-group">
					    <label class="control-label" for="billcurrency">{{'label.billcurrency' | translate }}&nbsp;<span class="required">*</span></label>
						<div class="controls">
							<input type="text" data-ng-model="billcurrency" name="billcurrency"  ><br/>
						</div>
					</div>	
			      </td>
			      </tr>
				  <tr>
			      <td>
			      	<div class="control-group">
					    <label class="control-label" for="billcurrency">{{'label.billfrequency' | translate }}&nbsp;<span class="required">*</span></label>
						<div class="controls">
							<input type="text" data-ng-model="billcurrency" name="billcurrency"  ><br/>
						</div>
					</div>	
			      </td>
			      
			      <td>
			      	<div class="control-group">
					    <label class="control-label" for="billsegment">{{'label.billsegment' | translate }}&nbsp;<span class="required">*</span></label>
						<div class="controls">
							<input type="text" data-ng-model="billsegment" name="billsegment"><br/>
						</div>
					</div>	
			      </td>
			   </tr>
			   <tr>
			   <td>
					 <div class="control-group">
						<label class="control-label">{{ 'label.nextbillday' | translate }}&nbsp;<span class="required">*</span></label>
						<div class="controls">
						  <input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.saleDate" data-is-open="opened2" min="minDate"
								max="maxDate" data-date-disabled="disabled(date, mode)" style="background-color: #FFFFFF;" readonly />
						</div>
					 </div>
				  </td>
			   	 
				 <td>
					 <div class="control-group">
						<label class="control-label">{{ 'label.lastbillday' | translate }}&nbsp;<span class="required">*</span></label>
						<div class="controls">
						  <input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.saleDate" data-is-open="opened2" min="minDate"
								max="maxDate" data-date-disabled="disabled(date, mode)" style="background-color: #FFFFFF;" readonly />
						</div>
					 </div>
				  </td>
				  </tr>
				  <tr>
				  <td>
				  	<div class="control-group">
		            <label class="control-label" for="durationType">{{'label.paymentType' | translate }}<span class="required">*</span></label>
		            <div class="controls">
							<select id="durationType" data-ng-model="formData.durationType"
								data-ng-options="durationTypeCode.durationTypeCode as durationTypeCode.durationTypeCode for durationTypeCode in durationTypes">
								<option value="">{{'label.select.one' | translate}}</option>
							</select>
						</div>
		          	</div>
		          </td>
			   </tr>
			   <tr>
			   		<td>
			   			<div class="offset3">
			            	<a href="#/viewclient"><button id="cancel" type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
			            	<button  id="submit" type="submit"  class="btn btn-primary">{{'button.save'| translate}}</button>
			          	</div>
			   		</td>
			   	</tr>
			</table><br/>
			
		</fieldset>
</form>
</div>