<div>
	<ul class="breadcrumb">
    	<li><a href="#/ipPooling">{{'label.manageippooling' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.ippooling.createippool' | translate}}</li>
    </ul>
</div>

<form name="createIpPooling" data-novalidate="" class="form-horizontal well" data-ng-controller="CreateIpPoolingController" data-ng-submit="submit()">
	<div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	</div>
	
    <fieldset>
        <legend>{{'label.ippooling.createippool' | translate}}</legend>
		<table style="width:100%;">
           <tr>
             <td>
             	<div class="control-group">
                  <label class="control-label" for="serviceCode">{{'label.iptype' | translate }}</label>
                    <div class="controls">
                        <select data-ng-model="formData.type"  data-ng-options="ipType.id as ipType.mCodeValue for ipType in ipTypes">
                           <option value="">{{'label.select.one' | translate}}</option>
                        </select>
                   </div>
             	</div>
          
             </td>
           </tr>
	
			<tr>
				<td>
					<div class="control-group">
						<label class="control-label" for="ipaddress">{{'label.ippooling.ipaddress' | translate }}</label>
						<div class="controls">
							<input type="text" id="ipaddress" data-ng-onblur="ipValidate(formData.ipAddress)" data-ng-model="formData.ipAddress"/><br/>
							<small>{{'label.pattern'|translate}}{{'hint.ipaddress.pattern'|translate}}</small><br/>
							<small class="error" data-ng-show="ipAddressValidationErrorPattern">{{'form.error.ipaddress.pattern'|translate}}</small>
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td>
					<div class="control-group">
						<label class="control-label" for="subnet">{{'label.ippooling.subnet' | translate }}</label>
						<div class="controls">
							<input type="number" name="subnetIP" id="subnet" data-ng-model="formData.subnet" min="0" max="32" data-late-Validate><br/>
							<span data-ng-show="createIpPooling.subnetIP.$dirty && createIpPooling.subnetIP.$invalid">
									<small class="error">{{'validation.msg.ippool.subnet.is.not.within.expected.range'|translate}}</small>
    					   </span>
						</div>
					</div>
				</td>
			</tr>

		</table>

		<div class="offset3">
            <a href="#/ipPooling"><button id="cancel" type="reset" class="btn">Cancel</button></a>
            <button id="submit" type="submit" class="btn btn-primary" data-ng-disabled="!createIpPooling.$valid">Save</button>
          </div>
    </fieldset>
</form>