<div>
		<ul class="breadcrumb">
			<li><a href="#/event">{{'label.event' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.createevent' | translate}}</li>
		</ul>
</div>
<form name="createeventform" class="form-horizontal well" data-ng-controller="CreateEventController" data-ng-submit="submit()">
	
	 <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
		<legend> {{'label.createevent' | translate}}</legend>
		<table style="width:100%;">
			<tr>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="eventName">{{'label.event.eventcode' | translate }} </label>
						<div class="controls">
							<input type="text" id="eventName" name="eventName" data-ng-model="formData.eventName" data-ng-maxlength="{{'code' | CodeValidate }}" required data-late-Validate></br>
							<span data-ng-show="createeventform.eventName.$dirty && createeventform.eventName.$invalid">
								<small class="error-row" >{{'error.code.definition.length.validation'| translate}}</small>
							</span>
						</div>
					</div>
				</td>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="eventDescription"> {{'label.event.eventdescription' | translate }}</label>
						<div class="controls">
							<input type="text" id="eventDescription"
								data-ng-model="formData.eventDescription">
						</div>
					</div>
				</td>
				
			</tr>

			<tr>
				<td>
					<div class="control-group" >
            		<label class="control-label" for="eventCategory">Event Category</label>
            		<div class="controls">
               			<select  id="eventcategory" data-ng-model="formData.eventCategory" data-ng-options="eventCategeorydata.mCodeValue as eventCategeorydata.mCodeValue for eventCategeorydata in eventCategeorydatas"></select>
            		</div>
          			</div>
				</td>
			
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="chargeCode"> {{'label.event.chargedata' | translate }}</label>
						<div class="controls">
							<select data-ng-model="formData.chargeCode"
								data-ng-options="chargeData.chargeCode as chargeData.chargeDescription for chargeData in chargeData"></select>
						</div>
					</div>
				</td> 
				
			</tr>

			<tr>
			
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="eventStartDate"> {{'label.event.startdate' | translate }}</label>
						<div class="controls">

							<!-- <input type="text" id="eventStartDate" ng-model="formData.eventStartDate"> -->
							<input type="text" data-ng-hide="formData.eventCategory == 'Live Event'"  data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.startDate" data-is-open="opened" min="minDate" max="maxDate" data-date-disabled="disabled(date, mode)"   style="background-color:#FFFFFF;"  readonly/>
							<input type="text" data-ng-show="formData.eventCategory == 'Live Event'"  data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.startDate" data-is-open="opened" min="minDate" max="maxDate" data-date-disabled="disabled(date, mode)"   style="width:130px;background-color:#FFFFFF;"  readonly/>
							<input id="timepicker1" data-ng-show="formData.eventCategory == 'Live Event'" type="text" readonly data-ng-model="first.starttime" style="width:60px;background-color:#FFFFFF;">
						</div>
					</div>
				</td>
				
				<td>
					<div class="control-group">
						<label class="control-label" for="eventEndDate">{{'label.event.enddate' | translate }}</label>
						<div class="controls">
							<!-- <input type="text" id="eventEndDate" ng-model="formData.eventEndDate"> -->
							<input type="text" data-ng-hide="formData.eventCategory == 'Live Event'"  data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.eventEndDate" data-is-open="opened2" min="minDate" max="'2020-06-22'" data-date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  readonly/>
							<input type="text" data-ng-show="formData.eventCategory == 'Live Event'" data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.eventEndDate" data-is-open="opened2" min="minDate" max="'2020-06-22'" data-date-disabled="disabled(date, mode)"  style="width:130px;background-color:#FFFFFF;"  readonly/>
							 <input id="timepicker2" data-ng-show="formData.eventCategory == 'Live Event'" type="text" readonly data-ng-model="first.endtime" style="width:60px;background-color:#FFFFFF;">
						</div>
					</div>
				</td>
				
			</tr>

			<tr>
				 <td>
					<div class="control-group">
						<label class="control-label" for="eventValidity"> {{'label.event.eventvalidity' | translate }}</label>
						<div class="controls">
							<!-- <input type="text" id="eventValidity" ng-model="formData.eventValidity"> -->
							<input type="text" data-datepicker-pop="dd MMMM yyyy" data-ng-model="date.eventValidity" data-is-open="opened2" min="minDate" max="'2020-06-22'" data-date-disabled="disabled(date, mode)"  style="background-color:#FFFFFF;"  readonly/>
						</div>
					</div>
				</td>
				<td width="50%">
					<div class="control-group">
						<label class="control-label" for="status">{{'label.event.status' | translate }}</label>
						<div class="controls">
							<select data-ng-model="formData.status"
								data-ng-options="eventStatus.id as eventStatus.value for eventStatus in eventStatus"></select>
						</div>
					</div>
				</td>
			</tr>
		</table>

		<table>
			<tr>
				<td>

					<div class="control-group">
                       <div><label class="control-label"></label></div>
						<div class="span3">
							<label class="control-label"> {{ 'label.availablemedia'| translate }}</label>
								 <select multiple data-ng-model="allowed">
								<option data-ng-repeat="availableService in availableServices"
									value="{{availableService.mediaId}}">{{availableService.mediaTitle}}</option>
							</select>
						</div>
						<div class="paddedtop10 span1 paddedleft0">
							<button type="button" class="btn btn-primary"
								data-ng-click="restrict()">
								<i class="icon-double-angle-right"></i>
							</button>
							<br />
							<button type="button" class="btn btn-primary"
								data-ng-click="allow()">
								<i class="icon-double-angle-left"></i>
							</button>
						</div>
						<div class="span3">
							<label class="control-label"> {{ 'label.selectedmedia' |translate }}</label>
							 <select multiple data-ng-model="restricted">
								<option data-ng-repeat="selectedService in selectedServices">{{selectedService.name}}</option>
							</select>
						</div>

					</div> 
				</td>
				<td></td>
			</tr>
		</table>
		
		<div class="offset3">
			<a href="#/event"><button id="cancel" type="reset" class="btn">Cancel</button></a>
			<button  id="submit" type="submit" data-ng-disabled="createeventform.$dirty && createeventform.$invalid" class="btn btn-primary">Save</button>
		</div>
	</fieldset>
</form>