 <div data-ng-controller="EditContractController">
       <div>
        <ul class="breadcrumb">
          <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/contract">{{'label.manage.contracts' | translate}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.editcontract' | translate}}</li>
        </ul>
      </div>
      <form name="editcontractform" class="form-horizontal well" data-ng-submit="submit()">
       <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
         <legend>Edit Contract</legend>
          <table>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label" for="name">{{ 'label.contract.contractperiod' | translate }}</label>
                  <div class="controls">
                    <input type="text" data-ng-model="formData.subscriptionPeriod">
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label" for="name">{{ 'label.contract.contractype' | translate }}</label>
                  <div class="controls">
                  <select data-ng-model="formData.subscriptionType"  data-ng-options="allowedperiods.durationTypeCode as allowedperiods.durationTypeCode for allowedperiods in allowedperiods">
      		      </select>
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div class="control-group">
                  <label class="control-label" for="units">{{ 'label.contract.units' | translate }}</label>
                  <div class="controls">
                    <input type="text" name="units" data-ng-model="formData.units" data-ng-pattern="{{'integer' | CodeValidate}}"></br>
                    <span data-ng-show="editcontractform.units.$dirty && editcontractform.units.$invalid">
              			<small class="error-row">{{'error.not.numeric.validation' | translate}}</small>
              		</span>
                  </div>
                </div>
              </td>
            </tr>
         <tr>
         <td align="right">
            <a href="#/contract"><button id="cancel" type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
            <button id="submit" type="submit" data-ng-disabled="editcontractform.$dirty && editcontractform.$invalid" class="btn btn-primary">{{'button.save'| translate}}</button>
          </td></tr>
           </table>
        </fieldset>
      </form>
</div>