<div data-ng-controller="EditServiceController">
      <div>
        <ul class="breadcrumb">
          <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/services">{{'label.services' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/viewservice/{{serviceId}}">{{formData.serviceCode}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.editservice' | translate}}</li>
        </ul>
      </div>
      <form name="editServiceForm" novalidate="" class="form-horizontal well" data-rc-submit="submit()">
       <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
          <legend>{{'label.editservice' | translate}}</legend>
          
          <div class="control-group">
            <label class="control-label" for="serviceCode">{{ 'label.service.servicecode' | translate }}<span class="required" >*</span></label>
            <div class="controls">
              <input type="text" name="serviceCode" id="serviceCode" data-ng-model="formData.serviceCode" data-ng-maxlength="{{'code' | CodeValidate }}"/>
              <!-- <form-validate formName="editServiceForm"  fieldName="serviceCode" maxLenMsg="10 characters"/> -->
              <span data-ng-show="editServiceForm.serviceCode.$dirty && editServiceForm.serviceCode.$invalid">
					<small class="error-row" >{{'error.code.definition.length.validation'| translate}}</small>
			  </span>
            </div>
          </div>
          
          <div class="control-group">
            <label class="control-label" for="serviceDescription">{{ 'label.service.servicedescription' | translate }}<span class="required" >*</span></label>
            <div class="controls">
              <input type="text" id="serviceDescription" data-ng-model="formData.serviceDescription">
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="serviceType">{{ 'label.service.servicetype' | translate }}<span class="required" >*</span></label>
            <div class="controls">
               <select data-ng-model="formData.serviceType" data-ng-options="serviceTypes.type as serviceTypes.type for serviceTypes in services"></select>
            </div>
          </div>

          <div class="control-group">
            <label class="control-label" for="serviceStatus">{{ 'label.service.status' | translate }}<span class="required" >*</span></label>
            <div class="controls">
              <select data-ng-model="formData.status" data-ng-options="status.value as status.value for status in statuses"></select>
            </div>
          </div>
          
          
          <div class="control-group">
            <label class="control-label" for="isOptional">{{ 'label.service.isoptional' | translate }}</label>
            <div class="controls">
             <label class="checkbox">
              <input type="checkbox" id="isOptional" data-ng-model="formData.isOptional">
                </label>
            </div>
          </div>
        
            <div class="control-group">
            <label class="control-label" for="isOptional">{{ 'label.service.isautoprovision' | translate }}</label>
            <div class="controls">
              <label class="checkbox">
                <input type="checkbox" id="isOptional" data-ng-model="formData.isAutoProvision">
              </label>
            </div>
          </div>
          <div class="offset3" style="margin-left:31%;">
            <a href="#/services"><button id="cancel" type="reset" class="btn">{{'label.cancel' | translate}}</button></a>
            <button id="submit" type="submit" data-ng-disabled="editServiceForm.$dirty && editServiceForm.$invalid" class="btn btn-primary" >{{'label.save' | translate}}</button>
          </div>
        </fieldset>
      </form>
    </div>
