    <div data-ng-controller="EditEmployeeController">
      <div>
        <ul class="breadcrumb">
          <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/employees">{{'label.manageemployees' | translate}}</a> <span class="divider">/</span></li>
          <li><a href="#/viewemployee/{{staffId}}">{{formData.firstname}}&nbsp;{{formData.lastname}}</a> <span class="divider">/</span></li>
          <li class="active">{{'label.editemployee' | translate}}</li>
        </ul>
      </div>
      <form class="form-horizontal well" data-ng-submit="submit()">
          <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
        <fieldset>
          <legend>Edit Employee</legend>
          <table>
          <tr>
          <td>  
          <div class="control-group">
            <label class="control-label" for="office">{{ 'label.office' | translate }}</label>
            <div class="controls">
              <select data-ng-model="formData.officeId"  data-ng-options="office.id as office.name for office in offices"></select>
            </div>
          </div>
          </td></tr>

        <tr><td>
          <div class="control-group">
            <label class="control-label" for="firstname">{{ 'label.firstname' | translate }}</label>
            <div class="controls">
              <input type="text" id="firstname" data-ng-model="formData.firstname">
            </div>
          </div>
          </td></tr>
          
         <tr><td>
          <div class="control-group">
            <label class="control-label" for="lastname">{{ 'label.lastname' | translate }}</label>
            <div class="controls">
              <input type="text" id="lastname" data-ng-model="formData.lastname">
            </div>
          </div>
          </td></tr>
            <tr><td align="right">
            <a href="#/employees"><button  id="cancel" type="reset" class="btn">{{'label.cancel' | translate}}</button></a>
            <button id="submit" type="submit" class="btn btn-primary">{{'label.save' | translate}}</button>
          </td></tr></table>
          
        </fieldset>
      </form>
    </div>
