<div data-ng-controller="GroupsDetailsController">
   <div>
    <ul class="breadcrumb">
         <li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
        <li class="active">{{'label.groups.details' | translate}}</li>
    </ul>
    <div class="pull-right">
        <a data-ng-click="addGroup()" class="btn btn-primary"><i class="icon-plus icon-white"></i>{{'label.group.add' | translate}}</a>
    </div>
  </div>
  <div class="row-fluid" >
     	<form data-ng-submit="searchDetails(filterText)" class="marginNone">
           <input data-ng-model="filterText" type="text" data-ng-autofocus="true" class="span marginbottom0px" placeholder="{{'placehoder.searchbar' | translate}}"/>
        </form>
	<table class="table">
        <thead>
            <tr class="graybg">
                <th style="width:25%">{{'label.groupsdetails.groupname' | translate}}</th>
                <th style="width:25%">{{'label.groupsdetails.groupaddress' | translate}}</th>
                <th style="width:25%">{{'label.groupsdetails.countnumber' | translate}}</th>
                <th style="width:25%">{{'table.heading.actions' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="pointer-main" data-ng-repeat="group in groupsDetails.currentPageItems | filter:filterText">
                <td class="pointer" data-ng-click="routeTo(group.groupName)">{{group.groupName}}</td>        
                <td class="pointer" data-ng-click="routeTo(group.groupName)">{{group.groupAddress}}</td> 
                <td class="pointer" data-ng-click="routeTo(group.groupName)">{{group.countNo}}</td>   
                <td><a data-ng-click="addProvision(group.id,group.groupName,group.attribute1,group.attribute2,group.attribute3,group.attribute4)" 
                  data-ng-show="group.isProvision == 'N'" class="btn " data-popover="Provisioning" data-popover-trigger="mouseenter"><i class="icon-play icon-white"></i></a>
                 <a data-ng-show="group.isProvision == 'Y'" data-ng-disabled="group.isProvision == 'Y'"class="btn "><i class="icon-play icon-white"></i></a>
                </td>
        </tbody>
    </table>
    		<ul class="pager">
        		<li class="previous"><a data-ng-click="groupsDetails.previous()" href="" data-ng-disabled="!groupsDetails.hasPrevious()">&larr; Prev</a></li>
        		<li class="next" ><a data-ng-click="groupsDetails.next()" href="" data-ng-disabled="!groupsDetails.hasNext()">Next &rarr;</a></li>
    		</ul>
  </div>
  
   <script type="text/ng-template" id="addGroupDetails.html">
	<div style="width:700px;height:300px;">
        
	 <form name="addGroupForm" novalidate="" class="form-horizontal well" ng-submit="submit()">
		<div>
          <h3 class="bolder">{{ 'label.group.add' | translate }}</h3>
        </div>
        <div>
 		  <fieldset>
			<div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	   		 </div>
           	<div class="control-group">
				<label class="control-label" for="groupName">{{'label.groupsdetails.groupname'|translate}}<span class="required">*</span> </label>
			 	<div class="controls">
              		<input  type="text"id="groupName" name="groupName" ng-model="formData.groupName" />
            	</div>
           	</div>
          	<div class="control-group">
            	 <label class="control-label" for="groupAddress">{{'label.groupsdetails.groupaddress'|translate}}<span class="required">*</span> </label>
			 	 <div class="controls">
              		<input type="text" id="groupAddress" name="groupAddress" ng-model="formData.groupAddress"/>
            	 </div>
	      	</div>
		    <div class="control-group">
					<label class="control-label">{{ 'label.groupsdetails.additionalinfo' | translate }}</label>
			</div>
			<table >
				<tr>
				  <td> 
						<div class="control-group">
              				<label class="control-label">{{ 'label.groupsdetails.groupcir' | translate }}<span class="required">*</span></label>
							<input class="input-medium" id="attribute1" type="text" ng-model="formData.attribute1" />
						</div>
				  </td>			
				  <td align="left"> 
						<div class="control-group">
              				<label class="control-label">{{ 'label.groupsdetails.dir' | translate }}<span class="required">*</span></label>
							<input class="input-medium" id="attribute2" type="text" ng-model="formData.attribute2" />
						</div>
				  </td>
				</tr>
				<tr>
					<td> 
							<div class="control-group">
              					<label class="control-label">{{ 'label.groupsdetails.membercir' | translate }}<span class="required">*</span></label>
								<input class="input-medium" id="attribute3" type="text" ng-model="formData.attribute3" />
							</div>
				  	</td>				
					<td> 
							<div class="control-group">
              					<label class="control-label">{{ 'label.groupsdetails.dir' | translate }}<span class="required">*</span></label>
								<input class="input-medium" id="attribute4" type="text" ng-model="formData.attribute4" />
							</div>
				  	</td>
				</tr>
			</table>
        <div class="pull-right" style="margin-right:8px;">
          <button id="cancel" class="btn" ng-click="cancel()">{{'button.cancel' | translate}}</button>
     	  <button id="submit" type="submit" class="btn btn-primary">{{'button.save' | translate}}</button>
        </div>
		  </fieldset>
        </div>
	</form>
	</div>
    </script>
    
</div>