<div data-ng-controller="ViewRegionController">

	<div class="paddedbottom10">
		<ul class="breadcrumb">
			<li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/regions">{{'label.regions' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{region.regionCode}}</li>
		</ul>
		<div class="pull-right">
			<div class="btn-group">

				<a data-ng-show="PermissionService.showMenu('UPDATE_REGION') && region.regionCode !='Default'" href="#/editRegions/{{region.id}}" 
					class="btn btn-primary"><i class="icon-edit icon-white"></i> {{'label.edit' | translate}} </a> 
				<a data-ng-show="PermissionService.showMenu('DELETE_REGION') && region.regionCode !='Default'" data-ng-click="deleteRegion()" 
					class="btn btn-primary"><i class="icon-trash icon-white"></i> {{'label.delete' | translate}} </a>
			</div>
		</div>
	</div>

	<div class="row paddedleft">

		<table width="100%">
			<tr>
				<td>Id</td>
				<td>{{region.id}}</td>
			</tr>
			<tr>
				<td>Region Code</td>
				<td>{{region.regionCode}}</td>
			</tr>
			<tr>
				<td>Region Name</td>
				<td>{{region.regionName}}</td>
			</tr>

		</table>
	</div>
	<script type="text/ng-template" id="deleteregion.html">
        <div class="modal-header silver">
            <h3 class="bolder">{{'label.delete' | translate}}</h3>
        </div>
        <div class="modal-body modal-middle">
            <button class="btn btn-warning" ng-click="cancel()">{{'label.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="regionDelete()">{{'label.confirm' | translate}}</button>
        </div>
    </script>

</div>
