<div data-ng-controller="ViewPropertyController">
	<div class="paddedbottom10">
		<ul class="breadcrumb">
			<li><a href="#/organization">{{'link.admin.organisation' | translate}}</a> <span class="divider">/</span></li>
			<li><a href="#/property">{{'label.property' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.viewproperty' | translate}}</li>
		</ul>
		<div class="pull-right">
			<div class="btn-group">
		      <a data-ng-show="property.status=='VACANT'&&PermissionService.showMenu('UPDATE_PROPERTY')" href="#/editproperty/{{property.id}}" 
				 class="btn btn-primary"><i class="icon-edit icon-white"></i>{{'button.edit' | translate}}</a> 
				<a data-ng-show="property.status=='VACANT'&&PermissionService.showMenu('DELETE_PROPERTY')"data-ng-click="deleteProperty()" class="btn btn-primary"><i
					class="icon-trash icon-white"></i> {{'button.delete' | translate}}</a>
			</div>
		</div>
	</div>

	<div class="row-fluid">
		<h3>&nbsp;&nbsp;&nbsp;{{property.propertyCode}}</h3>
		<div class="span6">
		<table class="fullwidth">
			<tr>
				<td width="35%">{{ 'label.propertytype' | translate }}</td>
				<td width="65%">{{property.propertyType}}</td>
			</tr>
			<tr>
				<td>{{'label.unitcode' | translate }}</td>
				<td>{{property.unitCode}}</td>
			</tr>
			<tr>
				<td>{{'label.buildingcode' | translate }}</td>
				<td>{{property.buildingCode}}</td>
			</tr>
			<tr>
				<td>{{'label.parcel' | translate }}</td>
				<td data-ng-show="property.parcelDesc">{{property.parcelDesc}}</td>
				<td data-ng-hide="property.parcelDesc">{{property.parcel}}</td>
			</tr>
			<tr>
				<td>{{'label.floor' | translate }}</td>
				<td data-ng-show="property.floorDesc">{{property.floorDesc}}</td>
				<td data-ng-hide="property.floorDesc">{{property.floor}}</td>
			</tr>
		</table>
	</div>
	   <div class="span4">
					<table class="fullwidth">
					<tr>
				<td width="35%">{{'label.status' | translate }}</td>
				<td width="65%">{{property.status}}</td>
			</tr>
			<tr>
				<td>{{ 'label.state' | translate }} </td>
				<td>{{property.precinct}},{{property.state}}</td>
			</tr>
			<tr>
				<td>{{'label.country' | translate }}</td>
				<td>{{property.country}}</td>
			</tr>
			</table>
	</div>
	</div>
	<script type="text/ng-template" id="deletePopupForProperty.html">
    	<div class="modal-header silver">
        	<h3 class="bolder">Delete Property Definition</h3>
        </div>
        <div class="error" ng-show="errorStatus || errorDetails">
				<label>{{'label.contract.error' | translate}}</label>
				<label ng-show="errorStatus">{{errorStatus}}</label>
				<label ng-hide="errorStatus" ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	   		</div>    
        <div class="modal-body style="height:60px;">
            <h4>Are you sure?</h4>
        </div>

        <div class="modal-footer">
            <button class="btn" ng-click="cancel()">{{'button.cancel' | translate}}</button>
            <button class="btn btn-primary" ng-click="approve()">{{'label.confirm' | translate}}</button>
        </div>
   </script>
</div>