<div data-ng-controller="StatementController"> 
 <div>
  <ul class="breadcrumb">
 	<li>
 	   <table>
        <tr>
        <td>
         <img data-ng-hide="imagePresent" src="../app/images/blank_avatar.jpg" alt="Avatar" width="40">
          <img data-ng-show="imagePresent" src="{{image}}" alt="Avatar" width="40">
        </td>
        <td>
            <small style="color:black;">{{displayName}}</small>
            &nbsp;
            <i class="icon-circle {{statusActive | StatusLookup}}"></i>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Uniquely identified&nbsp;<strong>{{accountNo}}</strong></small></td>
        	</tr>
        	<tr>
        	    <td><small>Cell Phone&nbsp;<strong>{{phone}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        	   <td><i class="icon-building"></i><small>Office&nbsp;"<strong>{{officeName}}</strong>"</small></td>
        	</tr>
        	<tr>
        	<td><small>Device # <strong>{{hwSerialNumber}}</strong></small></td>
        	</tr>
        </table>
        </td>
        <td><small style="font-size:30px;">|</small></td>
        <td>
        <table>
        	<tr>
        		<td><small>Client Type&nbsp;"<strong>{{categoryType}}</strong>"</small></td>
        	</tr>
        	<tr>
        		<td><small>Balance&nbsp;<strong>{{balanceAmount}}</strong>&nbsp;{{currency}} </small></td>
        		<td class="paddedleft0" data-ng-show="walletConfig"><small>[Wallet&nbsp;<strong>{{walletAmount}}</strong>&nbsp;{{currency}}]</small></td>
        	</tr>
        </table>
        </td>
        </tr>
        </table>
        </li>
 	</ul>
	<ul class="breadcrumb">
			<li><a href="#/clients">{{'link.clients' | translate}}</a> <span class="divider">/</span></li>
			<li><a href='#/viewclient/{{clientId}}'>{{'link.view.client' | translate}}</a> <span class="divider">/</span></li>
			<li class="active">{{'label.statement' | translate}}</li>
		</ul>
	</div>
 <form class="form-horizontal well" data-ng-submit="submit()">

    <div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label>
		<label data-ng-show="errorStatus">{{errorStatus}}</label>
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	    </div>
	<fieldset>
	<table>
	<tr><td>
     <div class="control-group">
       <label class="control-label">{{ 'label.duedate' | translate }}</label>
       <div class="controls">
             <input type="text" datepicker-pop="dd MMMM yyyy" data-ng-model="start.date" is-open="opened" min="minDate" max="maxDate" 
             date-disabled="disabled(date, mode)" required late-Validate style="background-color:#FFFFFF;"  readonly/>
               </div>
          </div> 
          </td></tr>
            <tr><td> <div class="control-group">
                  <label class="control-label">{{ 'label.Promotionalmessage' | translate }}</label>
                  <div class="controls">
                  <textarea  data-ng-model="formData.message"></textarea>
                  </div>
                  </div>
              </td></tr>
          <tr><td align="right">
            <a href="#/viewclient/{{clientId}}"><button id="cancel" type="reset" class="btn" data-ng-click="cancel()">{{'button.cancel'| translate}}</button></a>
            <button type="submit" class="btn btn-primary">{{'button.save' | translate }}</button>
          </td></tr></table>
          	</fieldset>
          </form>
          </div>