<div>
	<ul class="breadcrumb">
		<li><a href="#/leads">{{'link.prospects' | translate}}</a> <span class="divider">/</span></li>
		<li class="active">{{'label.createprospect' | translate}}</li>
	</ul>
</div>
<form name="createprospectsform" class="form-horizontal well" data-ng-controller="CreateProspectsController" data-ng-submit="submit()">
	<div class="error" data-ng-show="errorStatus || errorDetails">
		<label>{{'label.contract.error' | translate}}</label> 
		<label data-ng-show="errorStatus">{{errorStatus}}</label> 
		<label data-ng-hide="errorStatus" data-ng-repeat="error in errorDetails">{{error.code | translate}}</label>
	</div>
	<strong> {{'label.prospect.personaldetails' | translate}} </strong>

	<table>
		<tr>
			<td>
				<table>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="prospectType">{{'label.create.type' | translate }}<span class="required">*</span> </label>
								<div class="controls" style="margin-top: 5px;">
									<input type="radio" data-ng-model="formData.prospectType" value="1" data-ng-change="resetCredits()">{{'label.prospect.individual' | translate}} &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 
									<input type="radio" data-ng-model="formData.prospectType" value="2" data-ng-change="resetCredits()">{{'label.prospect.corporate' | translate}}
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="firstName">{{'label.firstname' | translate }}<span class="required">*</span></label>
								<div class="controls">
									<input type="text" id="firstName" data-ng-model="formData.firstName" data-ng-pattern="/^[a-zA-Z0-9\-\&\s]+$/" name="firstname" data-late-Validate>
									<div data-ng-show="createprospectsform.firstname.$dirty && createprospectsform.firstname.$invalid">
										<small class="error" data-ng-show="createprospectsform.firstname.$error.pattern"> {{'label.prospect.error.name' | translate}} </small> 
										<small class="error" data-ng-show="createprospectsform.firstname.$error.req"> {{'label.prospect.error.required' | translate}} </small>
									</div>
								</div>
							</div>
						</td>
					</tr>

					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="middleName">{{'label.middlename' | translate }}</label>
								<div class="controls">
									<input type="text" id="middleName" ng-model="formData.middleName">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="lastName">{{'label.lastname' | translate }}<span class="required">*</span> </label>
								<div class="controls">
									<input type="text" id="lastName" data-ng-model="formData.lastName" data-ng-pattern="/^[a-zA-Z0-9\s]+$/" name="lastname" data-late-Validate>
									<div data-ng-show="createprospectsform.lastname.$dirty && createprospectsform.lastname.$invalid">
										<small class="error" data-ng-show="createprospectsform.lastname.$error.pattern"> {{'label.prospect.error.name' | translate}} </small> 
										<small class="error" data-ng-show="createprospectsform.lastname.$error.req"> {{'label.prospect.error.required' | translate}} </small>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="homePhoneNumber"> {{'label.homephone' | translate }}</label>
								<div class="controls">
									<input type="text" id="homePhoneNumber" name="homephone" data-ng-model="formData.homePhoneNumber"
										data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" maxlength="15" >
									<div data-ng-show="createprospectsform.homephone.$dirty && createprospectsform.homephone.$invalid">
										<small class="error" data-ng-show="createprospectsform.homephone.$error.pattern"> {{'label.prospect.error.mobileno' | translate}} </small>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="workPhoneNumber">{{'label.officephone' | translate }}</label>
								<div class="controls">
									<input type="text" id="workPhoneNumber" name="workphone" data-ng-model="formData.workPhoneNumber"
										data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/" maxlength="15">
									<div data-ng-show="createprospectsform.workphone.$dirty && createprospectsform.workphone.$invalid">
										<small class="error" data-ng-show="createprospectsform.workphone.$error.pattern">{{'label.prospect.error.mobileno' | translate}} </small>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="mobileNumber">{{'label.mobilephone' | translate }}<span class="required">*</span> </label>
								<div class="controls">
									<input type="text" id="mobileNumber" data-ng-model="formData.mobileNumber"
										data-ng-pattern="/^(?!0+$)(?!1+$)(?!2+$)(?!3+$)(?!4+$)(?!5+$)(?!6+$)(?!7+$)(?!8+$)(?!9+$)\d{1,15}$/"
										name="mobilenumber" maxlength="15">
									<div data-ng-show="createprospectsform.mobilenumber.$dirty && createprospectsform.mobilenumber.$invalid">
										<small class="error" data-ng-show="createprospectsform.mobilenumber.$error.pattern">{{'label.prospect.error.mobileno' | translate}} </small>
									</div>
								</div>
							</div>
						</td>
					</tr>
					<tr>

						<td>
							<div class="control-group">
								<label class="control-label" for="email">{{'label.emailid' | translate }}</label>
								<div class="controls">
									<input type="email" id="email" ng-model="formData.email" name="email">
									<div data-ng-show="createprospectsform.email.$dirty && createprospectsform.email.$invalid">
										<small class="error" data-ng-show="createprospectsform.email.$error.email"> {{'label.prospect.error.email' | translate}} </small>
									</div>
								</div>
							</div>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	
	<strong>{{'label.prospect.addressdetails' | translate}}</strong>
	<table>
		<tr>
			<td>
				<table>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="address">{{'label.address' | translate }}<span class="required">*</span></label>
								<div class="controls">
									<input type="text" id="address" data-ng-model="formData.address">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="streetArea">{{'label.street/area' | translate }}</label>
								<div class="controls">
									<input type="text" id="streetArea" data-ng-model="formData.streetArea">
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="city"> {{'label.city/district' | translate }} <span class="required">*</span> </label>
								<div class="controls">
									<input type="text" id="city" name="city" data-ng-model="formData.city" list="citylist" data-ng-change="getStateAndCountry(formData.city)">
								</div>
							</div> 
							<datalist id="citylist">
								<option data-ng-repeat="cityData in cityDatas" value="{{cityData}}">
							</datalist>

						</td>
					</tr>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="state"> {{'label.state' | translate }} </label>
								<div class="controls">
									<input type="text" id="state" data-ng-model="formData.state" readonly>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="country"> {{'label.country' | translate }} </label>
								<div class="controls">
									<input type="text" id="country" data-ng-model="formData.country" readonly>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="zipCode">{{'label.zipcode' | translate }}</label>
								<div class="controls">
									<!-- <input type="number" id="zipCode" ng-model="formData.zipCode" name="zipcode" ng-pattern="/^[0-9]+$/">
              									<div ng-show="createprospectsform.zipcode.$dirty && createprospectsform.zipcode.$invalid" >
              										<small class="error" ng-show="createprospectsform.zipcode.$error.pattern">digits only!!</small>
            									</div> -->
									<input type="text" id="zipcode" data-ng-model="formData.zipCode">
								</div>
							</div>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="sourceOfPublicity">{{'label.source' | translate }}</label>
								<div class="controls">
									<select data-ng-model="formData.sourceOfPublicity"
										data-ng-options="sourceOfPublicityData.mCodeValue as sourceOfPublicityData.mCodeValue for sourceOfPublicityData in sourceOfPublicityDatas"
										data-value="{{sourceOfPublicityData.mCodeValue}}">
									</select>

								</div>
							</div>

						</td>
					</tr>
					<tr data-ng-show="formData.sourceOfPublicity == 'Other'">
						<td>
							<div class="control-group">
								<label class="control-label">{{ 'label.prospect.other' | translate }}</label>
								<div class="controls">
									<input type="text" id="sourceOther" data-ng-model="formData.sourceOther">
								</div>
							</div>

						</td>
					</tr>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label" for="preferredPlan">{{'label.plan' | translate }}</label>
								<div class="controls">
									<select data-ng-model="formData.preferredPlan" 
										data-ng-options="planData.id as planData.planDescription for planData in planDatas"
										data-value="{{planData.id}}">
									</select>
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>
							<div class="control-group">
								<label class="control-label">{{ 'label.nextcalltime' | translate }}</label>
								<div class="controls">
									<!-- <input type="text" ng-model="first.date" name="preferredCallingTime"/> -->
									<input type="text" id="preferredCallingTime" min="minDate" data-datepicker-pop="dd MMMM yyyy" data-ng-model="first.date" required
										data-late-Validate style="width: 130px; background-color: #FFFFFF;" />

									 <input id="timepicker1" type="text"  data-ng-model="first.time"
										style="width: 60px; background-color: #FFFFFF;">
								</div>
							</div>

						</td>
					</tr>
					<tr>
						<td rowspan="3">
							<div class="control-group">
								<label class="control-label" for="note">{{ 'label.note' | translate }}<span class="required">*</span>
								</label>
								<div class="controls">
									<textarea rows="7" id="note" data-ng-model="formData.note" style="width: 211px; height: 121px;"></textarea>
									<!-- style="width: 291px; height: 122px;" -->

								</div>
							</div>
						</td>
					</tr>

				</table>
			</td>
		</tr>

	</table>

	<div class="offset3">
		<a href="#/leads"><button type="reset" class="btn">{{'button.cancel'| translate}}</button></a>
		<button type="submit" class="btn btn-primary">{{'button.save'| translate}}</button>
	</div>

</form>